.grid-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  margin: 0 auto;
  margin-top: 25px;
}

.grid-item {
  max-height: 400px;
  transition: transform 0.3s ease;
  margin-bottom: 25px;
}

.grid-item:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1114px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
